<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div id="app">
    <!--<h2>{{title}}</h2>-->
    <li v-for="(item,index) in productList">
        <div >产品名称：{{item.productName}}</div>
        <dd v-for="part in item.parts" v-text="part.partsName"></dd>
        <div>价格：{{item.productPrice+"--------------------"+index}}</div>
        <div>数量：{{item.productQuentity}}</div>
        <div>金额：{{item.productPrice*item.productQuentity  | formatMoney}}</div>
        <div>金额：{{item.productPrice*item.productQuentity  | money("元")}}</div>
        <!--<img src="item.productImage" alt="">-->
        <!--<img src="{{item.productImage}}" alt="">-->
        <img v-bind:src="item.productImage" alt="">

        <a href="javascript:;" v-on:click="changeMoney(item,-1)">-</a>
        <a href="javascript:;" @click="changeMoney(item,1)">+</a>
        <input type="text" value="0" disabled   v-model="item.productQuentity">
        <!-- v-bind:class="{'check':item.checked}"这里的check用的是单引号-->
        <a href="javascript:;" class="item-check-btn" v-bind:class="{'check':item.checked}" @click="selectedProduct(item);">
        </a>
    </li>
    <div>
        <!--<span class="item-check-btn" :class="{'check':checkAllFlag}" @click="checkAllFlag=true"></span>-->
        <!--注意不要将true写成ture，还要将div写到vue的作用范围内的div中，即#app这个div中-->
        <span class="item-check-btn" :class="{'check':checkAllFlag}" @click="checkAll(true);"></span>
        <a href="" class="item-del-btn" @click="checkAll(false);">取消全选</a>
        <div class="item-total">
            总金额 <span class="total-price">{{totalCheckMoney| money("元")}}</span>
        </div>
    </div>
</div>

<script src="js/vue.min.js"></script>
<script src="js/vue-resource.min.js"></script>
<script src="js/cart.js"></script>
</body>
</html>